/*This CSS style sheet is used for the Information Systems website*/
/*By: Courtney Burns*/
/*--Last modified: May 8, 2019 1:12am*/
/*Many of these are used among all pages as shared styles*/

/*Main Body (shared)*/
body{
	background-color: #000000; /*black*/
	font-size: 14pt;
	font-family: Times New Roman, Georgia, Serif;
	color: black;
}

h2{
	text-decoration:underline;
}

/*Navigation Bar*/
.topNav {
    overflow: hidden;
    background-color: #000000; /*black*/
}

.topNav a {
    float: left;
    display: block;
    background-color: #000000; /*black*/
	color: white;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 18px;
}

.topNav a:hover{
    background-color: #fdb515; /*gold*/
	color: #000000; /*black*/
}

.topNav a.active{
	background-color: #fdb515; /*gold*/
	color: #000000; /*black*/
}

/*Banner*/
img.container{
	border-top: 10px solid #fdb515; /*gold*/
}

.banner{
	background-color: white;
	margin-bottom: 30px;
}

/*Instructions for search page*/
.instructions{
	background-color: white;
	border-top: 3px;
	border-left: 50px solid #000000; /*black*/
	border-bottom: 50px solid #000000; /*black*/
	border-right: 50px solid #000000; /*black*/
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
}

/*Form Title (shared)*/
.formTitle{
	text-align: center;
	text-decoration: underline;
	color: #000000; /*black*/
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 0px;
}

/*Search Area (shared but needs generic name)*/
.searchArea{
	background-color: white;
	border-top: none;
	border-left: 50px solid #000000; /*black*/
	border-bottom: 50px solid #000000; /*black*/
	border-right: 50px solid #000000; /*black*/
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*Search Result Area (shared but needs generic name)*/
.searchResultArea{
	background-color: white;
	border-top: none;
	border-left: 50px solid #000000; /*black*/
	border-bottom: 50px solid #000000; /*black*/
	border-right: 50px solid #000000; /*black*/
	padding: 10px;
}

.searchCriteria{
		border: 1px solid black;
		border-radius: 4px;
		margin: 5px 10px;
		padding: 5px 5px;
		padding-bottom: 1px;
		padding-top: 1px;
		text-align: left;
		background-color: #F5F5F5; /*light gray*/
		color: black;
		width: 50%;
}

/*Form Styling*/
input[type=text]{
		border: 1px solid black;
		border-radius: 4px;
		margin: 5px 10px;
		padding: 12px 20px;
		text-align: left;
		background-color: #F5F5F5; /*light gray*/
		color: black;
		width: 50%;
}

input[type=text]:focus{
	background-color: #d3d3d3; /*light slate gray*/
}

input[type=button], input[type=submit]{
		background-color: #fdb515; /*gold*/
		border: none;
		color: #000000; /*black*/
		padding: 12px 20px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 4px;
		width: 17%;
}
